* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}
.parent {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.child>img {
    width: 100%;
    height: 260px;
    margin: 1.3rem auto;
}

.fa-cart-shopping{
    font-size: 15px;
}
.button1 {
    font-size: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    line-height: 2.5rem;
    margin-top: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #017cff;
    text-decoration: none;
}
.button1:hover{
    text-decoration: none;
    background-color: #80b8f3;
}

.child {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}

@media screen and (max-width: 991px) {
    .parent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
    }
}